    html {
      font-size:
      10px;
    }

    body {
      background-color: #171716;
      font-family: 'Poiret One', cursive;
      margin: 10rem;
    }
    
    .header {
      color: #EBEBE0;
    }
    h1 {
      font-size: 6rem;
      margin-top: .5rem;
    }
    h2 {
      font-size: 2rem;
      margin-top: -20px;
      }
    input {
      margin-bottom: 1rem;
      padding: 2px;
      font-size: 1.8rem;
      font-family: 'Poiret One', cursive;
    }
    input[type="submit"] {
      background: #999966;
      color: white;
    }
    .main {
      max-width: 80rem;
    }
    img {
      width: 20rem
       }

      .navigation__link {
        color: #d3d3c9;
        font-size: 2rem;
        padding-right: 2rem;
      }
